body { 
  width: 800px; 
  margin: 0 auto;
  font-family: Arial, 
  Verdana, sans-serif;
}

a { text-decoration: none; }
ul.navigation-menu, ul#sessions-filter { list-style: none;}
ul.navigation-menu li, ul#sessions-filter li { display: inline; padding-right: 0.5em; }
p { margin: 0.5em,0.5em,0,0; padding: 0.5em; } 

ul#sessions-filter li{
    cursor: pointer;
    padding-left: 0.5em;
}
ul#sessions-filter li.selected{
    -moz-border-radius:6px 6px 0px 0px;
}

.no-pad{
  padding: 0;
}
.no-right{
  border-right-style: hidden;
}

.image-column{
  width: 25px;
}

div.list-container ul li,
a.add-link,
a.add-link-bottom,
a.import-link {
  font-size: 1.1em;
}


.grayed input[type="text"]{
  color: gray;
}
table{
  width: 100%;
}

table, 
table tbody tr td,
table thead tr th{
  border: solid 1px #ccc;
  padding: 0.3em; 
  font-size: 0.9em;
}

td.center{
  text-align: center;
}

a.add-link,
a.add-link-bottom{
  float:left;
}

a.add-link{
  margin-bottom: 1em;
}
a.add-link-bottom{
  margin-top: 1em;
}

a#import-exercises-link,
a#start-session-link,
a#print-plan{
  margin-left: 1em;
}

ul li .edit-box{
  position: absolute;
  top: 0.1em;
  right: 0.1em;
}
ul.items-list, ul#sessions-filter{
  border:2px solid #DCD998;
}
ul.items-list{
  float:left;
}
ul#sessions-filter{
    display: table;
    margin-top: 1em;
    font-size: 1.1em;
    border-bottom: none;
    -moz-border-radius:6px 6px 0px 0px;
}

div#session-list-container{
    -moz-border-radius:0px 6px 6px 6px;
}

div.scrollpane-wrapper{
    float: left;
    height: 20em;
    overflow: auto;
    padding-right: 10px;
}

.jScrollPaneContainer{
    float: left;
}
/*
div#session-description{
    margin-left: 17em;
} */

div.list-container,
div.details-container,
div.public-program{
  -moz-border-radius:6px 6px 6px 6px;
  padding: 0.5em;
  border:2px solid #DCD998;
}

div.list-container ul li{
  cursor: pointer;
  width: 14em;
  position: relative;
  padding: 0.2em 0 0 0.2em;
  min-height: 25px;
}


div.details-container{
  margin-top: 0.5em;
}

ul li .list-title{
  width: 10em;
}

ul li.odd,
table tr.odd{
  background-color: #ccc;
}

ul li.selected{
  color: green;
  background: gray;
}

div.desc-box {
  -moz-border-radius:6px 6px 6px 6px;
  margin: 0 0.5em 0 15.5em;
  padding: 0.5em;
  font-size: 1.1em;
  background-color:#FFFFDD;
  border:2px solid #DCD998;
}

div.list-container a.delete,
div.list-container a.edit,
div.list-container a.done,
div.list-container a.export,
div.details-container a.delete,
div.details-container a.edit,
div.details-container a.export,
a.remove-set{
  display:block;
  width: 25px;
  height: 25px;
}

div.list-container a.delete,
div.list-container a.edit,
div.list-container a.done,
div.list-container a.export,
a.remove-set{
  float: left;
}

div.list-container a.edit,
div.details-container a.edit{
  background-image:url('../images/edit.png'); 
}
div.list-container a.delete,
div.details-container a.delete,
a.remove-set{
  background-image:url('../images/delete.png'); 
}

div.list-container a.done{
  background-image:url('../images/done.png'); 
}

div.list-container a.export,
div.details-container a.export{
  background-image:url('../images/export.png');
}

#program-workout{
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #DCD998;
}

.workout{
  position: relative;
}

table#days tbody tr td div.edit-box{
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
}

table#days tbody tr td div.workout{
    -moz-border-radius:6px 6px 6px 6px;
    border:2px solid #DCD998;
    width: 5.6em;
    height: 5.5em;
    margin: 0.2em auto 0.2em auto;
}

table#days tbody tr td div.day-number{
  position: absolute;
  bottom: 0;
  left: 0;
  -moz-border-radius:0px 6px 0px 6px;
  padding: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
  background-color:#FFFFDD;
  border-top:2px solid #DCD998;
  border-right:2px solid #DCD998;
}
table#days tbody tr td{
  border: none;
}

div.set-details,
div.status{
  -moz-border-radius:4px 4px 0px 0px;
}

div.set-details{
  background: #ccc;
  height: 50%;
  width: 100%;
  font-weight: bold;
  z-index: 1000;
}

div.status{
  padding: 0.2em;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}

.in-progress{
  background: red;
}
.status-done{
  background: green;
}
.not-started{
  background: yellow;
}

div.form{
  display: table;
  -moz-border-radius:6px 6px 6px 6px;
  padding: 0.5em;
  font-size: 1.1em;
  background-color:#FFFFDD;
  border:2px solid #DCD998;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
}

input, textarea, #exercise-image{
  border:2px solid #DCD998;
}

div.form .label{
  display: inline-block;
  width:6em;
}

#header, #footer{
  -moz-border-radius:6px 6px 6px 6px;
  background-color:#FFFFDD;
  border:2px solid #DCD998;
  padding: 0.5em;
}

#header{
    position: relative;
}

#header h1{
  font-family: 'Cantarell', arial, serif;
  font-size: 1.8em;
}

#header h2{
  font-family: 'Cantarell', arial, serif;
  font-size: 1.5em;
  float: right;
}

#header #beta{
    position: absolute;
    top: 0;
    right: 0;
    
}

#non-footer-wrap{
    position:relative;
    min-height: 100%;
}
html, body{
    height: 100%;
}

#non-footer{
    padding-top: 0.5em;
    padding-bottom: 4.5em;
}
#footer{
    
  position: relative;
  margin: -5em auto 0;
  top: 1em;
  height: 2em;
}

#copyright, #footer-links{
  text-align: center;
}

#copyright{
  font-size: 0.8em;
}

#footer-links{
  margin-top: 0.5em;
  font-size: 0.8em;
}

#footer-links a{
  text-decoration: none;
  color: gray;
}

#holder{
    height: 250px;
    width: 775px;
    margin: 0 auto 0 auto;
    padding: 0;
}

/* statistics page */
#measurements-holder{
    display: inline-block;
}
/* measurements dates picker*/
#dates-holder{
    float: right;
}
/* button in exercise selector */
#select-exercise-button{
    float: right;
}
/* public programs */
div.public-program{
    margin: 0.5em 0 0 0;
    position: relative;
}
div.public-program-title{
    position: absolute;
    top: 0;
    left: 0;
    -moz-border-radius:6px 0px 6px 0px;
    padding: 0.2em;
    font-size: 1.1em;
    font-weight: bold;
    background-color:#FFFFDD;
    border-right:2px solid #DCD998;
    border-bottom:2px solid #DCD998;
}

div.public-program-desc{
    margin-top: 2em;
}
a.import-link{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

input[type="text"].number{
    width: 3em;
}

#menu-holder{
    background-color: #FFFFDD;
    margin: 0.5em 0 0.5em 0;
    border: 2px solid #DCD998;
    -moz-border-radius:6px 6px 6px 6px;
}

#menu-wrapper{
    display: table;
    margin: 0 auto 0 auto;
}


.login-block{
    float: right;
    padding: 0.25em;
}

/* commented for now for clarity */
.fileinput-wrapper{
    position: relative;
    overflow: hidden;
    border: solid;
    height:1em;
    text-align: center;
    padding: 0.2em;
    background: #ccc;
}

input[type=file]{
    position: absolute;
    right: 0px;
    top: -13px;
    font-size: 500px;
    opacity: 0;
}

#exercise-image{
    width: 200px;
    height: 200px;
    margin-top: 1.5em;
}

div#errors{
    background-color:#ffaabb;
    margin: 0.5em 0 0.5em 0;
    border: 2px solid red;
    padding: 0.5em;
    display: table;
    -moz-border-radius:6px 6px 6px 6px;
}

div#errors ul{
    margin-left: 2em;
    font-style: italic;
}
.emp{
    font-weight: bold;
}
.column{
    float: left;
}
.number, .units{
    width: 4em;
}
textarea[name="desc"]{
    height: 200px;
}