#exercise-holder{
  display:inline;
}
.session-name{
    position: relative;
    height: 100%;
}

.sums{
    position: absolute;
    top: 0;
    right: 0;
}

#exercise-name {
	font-weight: bold;
}

#statistics-list tbody tr,
#statistics-list tbody td{
    height: 100%;
}